@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font: 1.5rem "Nunito", sans-serif;
    background-color: #475569;
    min-height: 100vh;
    background-image: radial-gradient(whitesmoke , #475569);
    display: flex;
    flex-direction: column;
}

header, nav, main, footer{
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header, footer{
    position: sticky;
    background-color: #1e293b;
    color: whitesmoke;
}

header{
    top: 0;
}

nav{
    background-color: #fff;
    color: #000;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
}

main{
    flex-grow: 1;
}

footer{
    bottom: 0;
}

/* || SMALL || */
@media screen and (min-width: 576px) {
    body{
        background-color: green;
        background-image: radial-gradient(whitesmoke,green);
      }

    nav{
        display: none;
    }
}

/*|| MEIDUM || */
@media screen and (min-width: 768px) {
    body{
        background-color: gold;
        background-image: radial-gradient(whitesmoke,gold);
      }

    nav{
        display: none;
    }
}

/*|| LARGE || */
@media screen and (min-width: 1200px) {
    body{
        background-color: firebrick;
        background-image: radial-gradient(whitesmoke,firebrick);
      }

    nav{
        display: none;
    }
}

/* MOBILE DEVICE LANDSCAOE */

@media screen and (min-width: 425px) and (min-aspect-ratio: 16/9) {
    body{
        background-color: dodgerblue;
        background-image: radial-gradient(whitesmoke,dodgerblue);
      }

    nav{
        display: none;
    }
}

h1, h2{
    font-size: 1.5rem;
}

nav{
    display: none;
}

/*min-width : as a starting from the specified width likewise max-width will be upto the specified width , usually do with min-width mobile file responsive desgin
orientation:landscape
min-aspect-ratio: 16/9
and also more than one rule we can use combinning them 


@media screen and (min-wdth: 481px) {
   
}

@media screen and (min-aspect-ratio: 16/9) {
   
}

*/

