@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  min-height: 200vh;
}

.outer-container {
  border: 3px dashed #000;
  width: 75vw;
  height: 85vh;
  margin: 40px auto;
  position: relative;

}

.inner-container {
  border: 2px solid #00f;
  width: 40vw;
  height: 50vh;
  margin: 200px auto;

}

.box {
  width: 150px;
  height: 150px;
  color: #fff;
  padding: 1rem;
}

.absolute{
    background-color: #00f;
    position: absolute;
    top: 0px;
    left: 0px;
    /* left: -10000px;
     when we wanted to remove fromt visiblity from the page and still wanted needed to be part of the page for accessibility reason then use left -10000px */
    z-index: 1;/* it used to put on fixed  */
    /* it picks ansister closure to his parent (inner container) */
    /* set top , left , right or bottom property atleast one you need to change in absolute property , top- top of the browser , left - towards left like this   */
    /*position: static; Its default property of elemenet*/

}

.relative{
    background-color: red;
    position: relative;
    top: 300px;
    left: 100px;
}

.fixed{
    background-color: green;
    position: fixed;
    /*  */
    top: 100px;

}

.sticky{
    background-color: #000;
    position: sticky;
    top: 0;
}

/* Frmemeber . how to make thing disappear */

/* /////////////////////////////  */

html{
    scroll-behavior: smooth;
    /* to get scroll action between section move by clicking on anchor  */

}
section{
    height: 100vh;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.green{
    background: green;
}

header , footer{
    color:#fff;
    text-align: center;
    height: 100px;
}
header{
    position: sticky;
    top: 0;
font-size: 5rem;
}

footer{
    background-color: #000;
    position: sticky;
    bottom: 0;
    width: 100%;
    font-size: 3rem;
}

a:visited{
    color: #fff;
}

.social{
    background-color: royalblue;
    color: white;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top: 30%;
    left: 0;
    /* for always be top we can use z-index:1 */
}