*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body{
    font-family: sans-serif;
    padding: 10px;
    background-color: #edc5c5;
    color: #333;
    /* line-height: 1.6;
    padding: 20px;
    color: #413b3b;
    background: hsl(0, 29%, 71%); */
}

.section{
    margin-bottom: 50px;
}


.big-heading{
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 18px;
    text-align: center;
    color: rgb(7, 112, 112);
}

.paragraph{
    font-size: 16px;;
    max-height: 600px;
    line-height: 1.6;
}

main{
    font-family: sans-serif;
    padding: 34px;
    background-color: #167887;
    color: #fef9f9;
}

.banner{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 2opx auto;
    border-radius: 8px;
}

.content{
    padding: 12px;
    font-size: 16px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .banner{
        max-width: 90%;
    } 
    
    .content{
        font-size: 15px;;
    }
}
