*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: sans-serif;
    line-height: 1.6;
    padding: 20px;
    color: #203;
    background: hsl(0, 29%, 71%);
}
.header{
    font-family: sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fafafa;   
}

.navbar{
    background-color: #004080;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* justify-content: space-between;
    align-items: center; */
}

.nav-link{
    padding: 10px 15px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
}

.nav-link:hover{
    background-color: #0059b3;
}

@media (max-width: 600px) {
    .nav-link{
        font-size: 20px;
        padding: 14px 18px;
    }    
}

h1{
    font-size: 34px;
    margin-top: 30px;
    margin-bottom: 45px;
}

/* ul {
    display: flex;
    list-style: none;
    padding: 10px;
    background: rgba(0, 0, 0, 0.45);
    margin: 0;
} */

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.45);
    margin: 20px auto;
    width: fit-content;
    border-radius: 8px;
}


li {
    margin-right: 100px;
    font-size: 17px;
}

/* a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
} */

a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

a:visited{
    color: rgb(209, 209, 228);
}

a:hover {
    color: rgb(190, 190, 225);
    text-decoration: underline;
}

a:active {
    color: rgb(121, 121, 204);
}
p{
    margin-bottom: 20px;
}

h2{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

p{
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

p{
    text-align: center;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.callout-box{
    background: hsl(0, 17%, 78%);
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    border-radius: 20px;
}