
.container{
    background-color: antiquewhite;
    height: 800px;
    display: flex;
    flex-direction: row;
    /* justify-content:center;
    align-items: center; */
    flex-wrap: wrap;
    gap: 5px;
}

/* jutify content : main axis ke around kaam karta hai and main axis decide flex firection karta hain
algin items works on cross axis */


.box{
    height: 100px;
    width: 100px;
}

.first{
    background-color: orange;
}

.second{
    background-color: green;
}

.third{
    background-color: red;
}

.fourth{
    background-color: blue;
}